*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;

  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #f8f9fa;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: Helvetica, sans-serif;
  color: rgb(211, 211, 211);
  overflow: hidden;
}

.show_result,
.overlay {
  display: none;
  transition: all linear 0.4s;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  opacity: 0;

  overflow: auto;
  transition: all linear 0.4s;
}

.wrapper {
  background-image: url("https://res.cloudinary.com/dkdwgdq4i/image/upload/v1687766425/5thehue/images_new/khac/5thehua_bgc_hpea8l.png");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  pointer-events: none;
  z-index: -1;
}

.final_card_page,
.guide_page,
.start_page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.final_card_page {
  opacity: 0;
  pointer-events: none;
  transition: all linear 0.4s;
}

.guide_page {
  transform: translateY(100%);
  opacity: 0;
  transition: all linear 0.4s;
}

.final_card_page {
  background-color: rgba(255, 255, 255, 0.9);
}

.final_card_page .img_box {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("https://res.cloudinary.com/dkdwgdq4i/image/upload/v1687795882/5thehue/images_new/khac/final_image_2_ckurdd.png");
  background-size: cover;
  background-position: center;
}

/* .final_card_page .img_box img {
  height: 100%;
  border-radius: 5px;
} */

.click_cancel,
.click_play,
.click_here {
  padding: 10px 30px;
  border: #792c28 solid 2px;
  border-radius: 5px;
  background-color: transparent;

  color: #792c28;
  transition: all linear 0.25s;
}

.click_cancel,
.click_play {
  font-weight: bold;
}

.click_cancel:hover,
.click_play:hover,
.click_here:hover {
  font-weight: bold;
}

.click_cancel:hover,
.click_play:hover {
  color: #957473;
}

.start_page .img_box img {
  width: 500px;
}

.container_result {
  flex: 5;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 0 20px;
  background-color: #792c28;

  border: #b33939 2px solid;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  transition: all linear 0.4s;
}

.main {
  flex: 5;
  height: 100%;
  overflow: hidden;
  position: relative;
  /* background-color: aqua; */
}

.chooseTopicWrapper {
  /* background-color: aqua; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  transition: all 0.25s linear;
}

.topicBtn {
  width: 200px;
  height: 60px;
  background-color: #af4f4f;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
}

.topicBtn:hover {
  background-color: #b15d5d;
}

.card_box_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  opacity: 0;
  transition: all 0.25s linear;
}

.line {
  height: 100%;
  width: 2px;
  background-color: #b08686;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.done,
.skip {
  width: 80px;
  padding: 5px 10px;
  background-color: #b33939;
  font-weight: bold;
  color: white;
  transition: all linear 0.25s;
  border-radius: 5px;
}

.done:active,
.skip:active {
  background-color: #af4f4f;
}

.container_card-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card_box {
  width: 350px;
  height: 488px;
}

.flip-active {
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 450ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
  border-radius: 25px;
  overflow: hidden;
}

.image-card {
  border-radius: 10px;
  pointer-events: none;
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #792c28;
}

.front {
  transform: rotateY(180deg);
  height: 100%;
  width: 100%;
}

/* .back img {
  transform: rotateZ(90deg) scale(1.35);
} */

.guide_page_box {
  width: 60vw;
  height: 60vh;
  /* background-color: aquamarine; */
  position: relative;
}

.guide_page .img_box {
  position: absolute;
  height: 100%;

  right: 0;
  top: -110px;
}

.guide_content_box {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #792c28;

  bottom: 0;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.instructor {
  height: 80%;
}

.guide_button_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.funnn {
  position: absolute;
  top: 50px;
  left: 0;
  color: #b33939;
  font-size: 20px;
  transition: all 0.2s linear;
  transform: translateX(-200px);
  opacity: 0;

  background-color: #fff;
  box-shadow: 0 0 20px 1px rgba(50, 50, 50, 0.2);
  padding: 10px 20px;
  padding-left: 100px;
  border-radius: 10px;
  z-index: 10;
}
.funnnActive {
  transform: translateX(0);
  opacity: 1;
}

.fireworksDiv {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  pointer-events: none;
}

.guide_content i {
  font-size: 12px;
}

.more {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #af4f4f;
  font-weight: bold;
  letter-spacing: 5px;
}

.more i {
  padding-left: 10px;
}

@media only screen and (max-width: 63.9375em) {
  .main {
    justify-content: flex-start;
  }
  .container_result {
    position: absolute;
    transform: rotateZ(-90deg) scale(0.7);
    opacity: 0;
    pointer-events: none;
  }
  .line {
    display: none;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    opacity: 0;
    pointer-events: none;
    background-color: #84817a;
  }

  .start_page .img_box {
    width: 200px;
  }

  .container {
    flex-direction: column;
  }
  .show_result {
    display: block;
    height: 12vh;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .show_result img {
    padding-left: 10px;
  }

  .show_result i {
    font-size: 36px;
    color: #b33939;
  }

  .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: transparent;
    transition: all linear 0.25s;
    cursor: pointer;
  }

  .icon-box i {
    pointer-events: none;
  }

  .icon-box:hover {
    background-color: #ced4da;
  }

  .main {
    margin-bottom: 5vh;
  }

  .instructor {
    height: 70%;
  }

  .guide_page .img_box {
    top: -100px;
  }

  .guide_page_box {
    width: 85%;
    height: 60%;
  }

  .card_box_wrapper {
    justify-content: flex-start;
  }

  .funnn {
    display: none;
  }

  .guide_content_box {
    padding: 20px;
  }

  .more {
    bottom: 10vh;
  }
}

@media only screen and (max-width: 30.1875em) {
  .container_result {
    transform: rotateZ(-90deg) scale(1.3);
  }
  .main {
    width: 100%;
  }

  .guide_content {
    font-size: 12px;
  }

  .instructor {
    height: 60%;
  }

  .guide_page .img_box {
    top: 40px;
  }

  .guide_content_box {
    height: 40%;
  }

  .chooseTopicWrapper {
    padding-bottom: 15vh;
  }

  .guide_page {
    padding-bottom: 15vh;
  }

  .final_card_page .img_box {
    background-image: url("https://res.cloudinary.com/dkdwgdq4i/image/upload/v1687837661/5thehue/images_new/khac/thank_you_2_h5gkui.png");
  }
  .wrapper {
    background-image: url("https://res.cloudinary.com/dkdwgdq4i/image/upload/v1687835623/5thehue/images_new/khac/backdrop_fknw7x.png");
  }

  .more {
    bottom: 12vh;
  }
}

.is_show {
  transform: translateY(0);
  opacity: 1;
}

.is_hide {
  opacity: 0;
  pointer-events: none;
}
.is_hide_g {
  transform: translateY(0);
  opacity: 0;
  pointer-events: none;
}

.is_show_o {
  opacity: 1;
  pointer-events: visible;
}

.is_show_oo {
  opacity: 0.7;
  pointer-events: visible;
}

.disabled {
  background-color: #84817a;
  pointer-events: none;
}

.add_event {
  pointer-events: visible;
}

.hiddenLeft {
  transform: translateX(-100%);
  opacity: 0;
}
.showLeft {
  transform: translateX(0);
  opacity: 1;
}
.showBottom {
  transform: translateY(-100%);
  opacity: 1;
}

.unDisplayNone {
  display: block;
}
